.new-container {
  position: relative;
  text-align: left;
}

.top-right {
  position: absolute;
  top: 12px;
  right: 16px
}

.img-centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.ytb-btn {
  height: auto;
  width: 100px;
}

.new-modal-content {
  margin: 0 20px;
  max-height: calc(100vh - 160px);
  overflow: auto;
  position: relative;
  width: 100%;
}

@media screen and (min-width: 769px) {
  .new-modal-content {
    margin: 0 auto;
    max-height: calc(100vh - 40px);
    width: 1200px;
  }
}

.scroll-container {
  display: block;
  width: 100%;
  height: 280px;
  overflow-y: auto;
  scroll-behavior: smooth;
}

.scroll-content {
  display: flex;
}
